<section class="commonContactSection">
  <div class="commonContactSection__inner l-container">

    <h2 class="commonContactSection__heading tertiaryHeading tertiaryHeading--center tertiaryHeading--white">お問合わせ</h2>

    <p class="commonContactSection__lead">下記フォームまたは電話番号へお問合わせください</p>

    <a class="commonContactSection__btn tertiaryBtn" href="/contact">お問合わせフォーム</a>

    <p class="commonContactSection__text">お電話でのお問合せはこちら</p>

    <address class="commonContactSection__address">

      <div class="commonContactSection__tel">
        TEL
        <a class="commonContactSection__telNum" href="tel:03-0000-0000">03-0000-0000</a>
      </div>

      <div class="commonContactSection__time">
        受付時間：平日9:00〜18:00
      </div>
    </address>

  </div><!-- /.commonContactSection__inner.l-container -->
</section>
