<footer class="footer">

  <nav class="footer__nav">
    <ul class="footer__navList">
      <li class="footer__navItem">
        <a class="footer__navLink" href="#">サイトポリシー</a>
      </li>

      <li class="footer__navItem">
        <a class="footer__navLink" href="#">プライバシーポリシー</a>
      </li>

      <li class="footer__navItem">
        <a class="footer__navLink" href="#">サイトマップ</a>
      </li>
    </ul>
  </nav>

  <div class="footer__copyright">
    <small lang="en">&copy; Sample All Rights Reserved.</small>
  </div>

</footer>
