<%
  if (typeof pageTitle === 'undefined') {
    var pageTitle = '';
  }

  if (typeof data === 'undefined') {
    var data = {
      head: '',
      body: ''
    };
  }
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <% if (pageTitle) { %>
      <%= pageTitle %> | 株式会社 Grass Field
    <% } else { %>
      Grass Field
    <% } %>
  </title>

  <link rel="icon" type="image/png" href="<%= imageUrl %>images/common/favicon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
