// Utilityクラス・ユーティリティクラス・汎用クラス・ヘルパークラス


// 変数、ミックスイン、関数
@use "../global" as g;


// スマートフォンのみ表示
.u-sp-only {

  @include g.mq('md-min') {
    display: none;
  }
}


// タブレットの幅以上で表示
.u-md-show {
  display: none;

  @include g.mq('md-min') {
    display: block;
  }
}


// パソコンの幅以上で表示
.u-lg-show {
  display: none;

  @include g.mq(lg-min) {
    display: block;
  }
}
