<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', {pageTitle: '事業内容', imageUrl: '../../'}) %>


<body class="contact">

<%- include('../components/common/_header', {el: 'div'}) %>


<main class="contactMain">

  <div class="secondaryHero">
    <div class="secondaryHero__inner l-container">

      <h1 class="secondaryHero__heading">
        <span class="secondaryHero__headingEn">Contact</span>
        <span class="secondaryHero__headingJa">お問合わせ</span>
      </h1>

      <p class="secondaryHero__lead">弊社の事業・商品へのご質問・お問い合わせ等は以下のフォームからご連絡下さい。</p>

    </div><!-- /.secondaryHero__inner.l-container -->
  </div>

  <div class="contactMain__body l-container">

    <section class="contactSection">
      <h2 class="contactSection__heading tertiaryHeading tertiaryHeading--mainColorBar">お問合わせについて</h2>

      <p class="contactSection__text">
        通常、3営業日以内に担当者よりご連絡差し上げます。<br>
        お急ぎの場合はお電話にてご連絡下さい。（TEL: 00-0000-0000　平日9:00〜17:00）
      </p>
    </section>

    <section class="contactSection">
      <h2 class="contactSection__heading tertiaryHeading tertiaryHeading--mainColorBar">お問合わせフォーム</h2>

      <form class="contactSection__form contactForm" action="#" method="POST">
        <table class="contactForm__table">
          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <label class="contactForm__label" for="type">
                お問合せ種類
                <span class="contactForm__tag">必須</span>
              </label>
            </th>

            <td class="contactForm__tableData is-error">
              <div class="contactForm__selectWrapper">
                <select class="contactForm__select" id="type" name="type" required>
                  <option value="" selected disabled>選択して下さい</option>
                  <option value="弊社事業について">弊社事業について</option>
                  <option value="弊社商品について">弊社商品について</option>
                  <option value="採用について">採用について</option>
                  <option value="メディア取材について">メディア取材について</option>
                  <option value="その他のお問合せ">その他のお問合せ</option>
                </select>
              </div><!-- /.contactForm__selectWrapper -->

              <p class="contactForm__errorText">お問合せ種類を選択してください。</p>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <label class="contactForm__label" for="message">
                お問合せ内容
                <span class="contactForm__tag">必須</span>
              </label>
            </th>

            <td class="contactForm__tableData">
              <textarea class="contactForm__textarea" id="message" name="message" rows="10" placeholder="お問合せ内容をご記入下さい。" required></textarea>

              <p class="contactForm__errorText">お問合せ内容を入力してください。</p>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <div class="contactForm__label" id="name1">
                お名前
                <span class="contactForm__tag">必須</span>
              </div>
            </th>

            <td class="contactForm__tableData">
              <div class="contactForm__nameGroup" aria-labelledby="name1">
                <div class="contactForm__nameField">
                  <label class="contactForm__subLabel" for="lastName1">姓</label>

                  <input class="contactForm__input" id="lastName1" type="text" name="lastName1" placeholder="山田" required>

                  <p class="contactForm__errorText">姓を入力してください。</p>
                </div><!-- /.contactForm__nameField -->

                <div class="contactForm__nameField">
                  <label class="contactForm__subLabel" for="firstName1">名</label>

                  <input class="contactForm__input" id="firstName1" type="text" name="firstName1" placeholder="太郎" required>

                  <p class="contactForm__errorText">名を入力してください。</p>
                </div><!-- /.contactForm__nameField -->
              </div><!-- /.contactForm__nameGroup -->
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <div class="contactForm__label" id="name2">
                フリガナ
                <span class="contactForm__tag">必須</span>
              </div>
            </th>

            <td class="contactForm__tableData">
              <div class="contactForm__nameGroup" aria-labelledby="name2">
                <div class="contactForm__nameField">
                  <label class="contactForm__subLabel" for="lastName2">セイ</label>

                  <input class="contactForm__input" id="lastName2" type="text" name="lastName2" placeholder="ヤマダ" pattern="^[ァ-ンヴー]+$" required>

                  <p class="contactForm__errorText">フリガナの姓を入力してください。</p>
                </div><!-- /.contactForm__nameField -->

                <div class="contactForm__nameField">
                  <label class="contactForm__subLabel" for="firstName2">メイ</label>

                  <input class="contactForm__input" id="firstName2" type="text" name="firstName2" placeholder="タロウ" pattern="^[ァ-ンヴー]+$" required>

                  <p class="contactForm__errorText">フリガナの名を入力してください。</p>
                </div><!-- /.contactForm__nameField -->
              </div><!-- /.contactForm__nameGroup -->

              <p class="contactForm__note">※全角カタカナでご入力下さい。</p>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <label class="contactForm__label" for="email">
                メールアドレス
                <span class="contactForm__tag">必須</span>
              </label>
            </th>

            <td class="contactForm__tableData">
              <input class="contactForm__input" id="email" type="email" name="email" placeholder="yamada@sample.co.jp" required>

              <p class="contactForm__errorText">正しい形式のメールアドレスを入力してください。</p>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <label class="contactForm__label" for="tel">
                電話番号
                <span class="contactForm__tag">必須</span>
              </label>
            </th>

            <td class="contactForm__tableData">
              <input class="contactForm__input" id="tel" type="tel" name="tel" pattern="\d{2,5}-?\d{2,4}-?\d{3,4}" placeholder="09012345678" required>

              <p class="contactForm__errorText">電話番号を入力してください。</p>

              <p class="contactForm__note">※半角数字でご入力下さい。ハイフン(-)は任意です。</p>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <div class="contactForm__label" id="attribute">
                法人／個人
                <span class="contactForm__tag">必須</span>
              </div>
            </th>

            <td class="contactForm__tableData" aria-labelledby="attribute">
              <label class="contactForm__radioLabel">
                <input class="contactForm__radio" type="radio" name="attribute" value="法人" checked required>
                <span class="contactForm__radioLabelText">法人</span>
              </label>

              <label class="contactForm__radioLabel">
                <input class="contactForm__radio" type="radio" name="attribute" value="個人" required>
                <span class="contactForm__radioLabelText">個人</span>
              </label>
            </td>
          </tr>

          <tr class="contactForm__tableRow">
            <th class="contactForm__tableHeader">
              <label class="contactForm__label" for="corporation">
                会社名
              </label>
            </th>

            <td class="contactForm__tableData">
              <input class="contactForm__input" id="corporation" type="text" name="corporation" placeholder="サンプル株式会社">

              <p class="contactForm__errorText">法人のお客様は会社名を入力してください。</p>

              <p class="contactForm__note">※法人のお客様の場合は必ずご記入ください。</p>
            </td>
          </tr>
        </table>

        <div class="contactForm__privacy">
          <p class="contactForm__privacyText">「<a class="contactForm__privacyLink" href="#">プライバシーポリシー</a>」をご確認いただき、個人情報の取扱いについて同意いただける場合は「同意する」を選択してください。</p>

          <label class="contactForm__privacyLabel">
            <input class="contactForm__checkbox" type="checkbox" name="privacy" value="yes">
            <span class="contactForm__privacyLabelText">個人情報保護方針に同意する</span>
          </label>
        </div><!-- /.contactForm__privacy -->

        <button class="contactForm__submit">入力内容を確認する</button>
      </form>
    </section>

  </div><!-- /.contactSection__inner.l-container -->

</main>


<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ホーム</a>
    </li>

    <li class="breadcrumb__item">
      事業内容
    </li>
  </ol>
</nav>


<%- include('../components/common/_footer') %>


</body>
</html>
