<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', {pageTitle: '事業内容', imageUrl: '../../'}) %>


<body class="service">

<%- include('../components/common/_header', {el: 'div'}) %>


<main class="serviceMain">

  <section class="primaryHero primaryHero--service">
    <h1 class="primaryHero__heading">
      <span class="primaryHero__headingEn">Service</span>
      <span class="primaryHero__headingJa">事業内容</span>
    </h1>
  </section>

  <div class="grid-service">

    <div class="grid-service__division serviceDivision">
      <div class="serviceDivision__catch">
        <b>
          kキャッチコピーが入ります。キャッチコピーが入ります。<br>
          キャッチコピーが入ります。
        </b>
      </div><!-- /.serviceDivision__catch -->

      <p class="serviceDivision__lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
    </div><!-- /.serviceDivision -->

    <div class="grid-service__sectionWrapper serviceSectionWrapper">
      <section class="serviceSection">
        <div class="serviceSection__body">
          <h2 class="serviceSection__heading secondaryHeading">
            <span class="secondaryHeading__sub">サービス1</span>
            <span class="secondaryHeading__main">事業タイトルが入ります</span>
          </h2>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceSection__thumbnails">
            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceSection__body -->

        <figure class="serviceSection__figure">
          <img class="serviceSection__image" src="../../images/service/ph_service01.jpg" alt="" width="800" height="500">
        </figure>
      </section>

      <section class="serviceSection serviceSection--reverse">
        <div class="serviceSection__body">
          <h2 class="serviceSection__heading secondaryHeading">
            <span class="secondaryHeading__sub">サービス2</span>
            <span class="secondaryHeading__main">事業タイトルが入ります</span>
          </h2>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。。</p>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceSection__thumbnails">
            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceSection__body -->

        <figure class="serviceSection__figure">
          <img class="serviceSection__image" src="../../images/service/ph_service02.jpg" alt="" width="800" height="500">
        </figure>
      </section>

      <section class="serviceSection">
        <div class="serviceSection__body">
          <h2 class="serviceSection__heading secondaryHeading">
            <span class="secondaryHeading__sub">サービス3</span>
            <span class="secondaryHeading__main">事業タイトルが入ります</span>
          </h2>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceSection__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceSection__thumbnails">
            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceSection__thumbnail">
              <img class="serviceSection__thumbnailImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"

                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceSection__body -->

        <figure class="serviceSection__figure">
          <img class="serviceSection__image" src="../../images/service/ph_service03.jpg" alt="" width="800" height="500">
        </figure>
      </section>
    </div>

  </div><!-- /.grid-service -->

</main>


<%- include('../components/common/_common-contact-section') %>


<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ホーム</a>
    </li>

    <li class="breadcrumb__item">
      事業内容
    </li>
  </ol>
</nav>


<%- include('../components/common/_footer') %>


</body>
</html>
